.get {
  background: #0e90d2;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.get-title {
  font-size: 200%;
  border: 2px solid #fff;
  padding: 20px;
  display: inline-block;
}

.get-btn {
  background: #fff;
}

.detail {
  background: #fff;
}

.detail-h2 {
  text-align: center;
  font-size: 150%;
  margin: 40px 0;
}

.detail-h3 {
  color: #1f8dd6;
}

.detail-p {
  color: #7f8c8d;
}

.detail-mb {
  margin-bottom: 30px;
}

.hope {
  background: #0bb59b;
  padding: 50px 0;
}

.hope-img {
  text-align: center;
}

.hope-hr {
  border-color: #149C88;
}

.hope-title {
  font-size: 140%;
}

.about {
  background: #fff;
  padding: 40px 0px 0px 0px;
  color: #7f8c8d;
}

.about-color {
  color: #34495e;
}

.about-title {
  font-size: 180%;
  padding: 30px 0 50px 0;
  text-align: center;
}
.am-modal-bd {
	padding-bottom:25px;
}
.am-alert-danger {
    background-color: #fff;
    border-color: #fff;
    color: #dd514c;
}
.dii-margin-b-none {
	margin-bottom:0;
}
.dii-margin-b-1p5rem {
	margin-bottom:1.5rem;
}
.dii-gt-hide{
	display: none;
    opacity: 0;
}
.dii-cursor-pointer {
	cursor: pointer;
}
@media screen and (max-width: 1025px){
	.dii-sm-btn {
		display: inline-block;
		width: 100%;
	}
}