<div class="am-g am-container">
	<ol class="am-breadcrumb">
		<li><a href="index.php?r=site/index" class="am-icon-home">首页</a></li>
		<li class="am-active">注册</li>
	</ol>
</div>
<style>
.am-footer {
	display:none;
}
</style>
<div class="am-g am-container" style="padding:0;">
	<div class="am-u-lg-5">
		<form class="am-form" method="post" id="doc-vld-msg">
			<h1>注册</h1>
			<p>已有账号? <a href="index.php?r=user/login">立即登录</a></p>
			<div class="am-form-group {if $result['email']}am-form-error{/if}">
			  <label for="email">邮箱：</label>
			  <input type="email" id="email" name="email" class="user-input" data-validation-message="请输入正确的邮箱" placeholder="输入邮箱" value="{$_POST['email']}" required/>
			  {if $result['email']}<div class="am-alert am-alert-danger">{$result['email']}</div>{/if}
			  
			</div>

			<div class="am-form-group {if $result['password']}am-form-error{/if}">
			  <label for="password">设置密码：</label>
			  <input type="password" id="password" name="password" class="user-input" minlength="6" value="{$_POST['password']}" placeholder="输入设置密码" required/>
			  {if $result['password']}<div class="am-alert am-alert-danger">{$result['password']}</div>{/if}
			</div>
			
			<div class="am-form-group {if $result['password_repeat']}am-form-error{/if}">
			  <label for="password_repeat">确认密码：</label>
			  <input type="password" id="password_repeat" name="password_repeat" class="user-input" value="{$_POST['password_repeat']}" placeholder="输入确认密码" data-validation-message="两次输入的密码不一致" data-equal-to="#password" required/>
			  {if $result['password_repeat']}<div class="am-alert am-alert-danger">{$result['password_repeat']}</div>{/if}
			</div>
			
			<div class="am-form-group {if $result['captcha']}am-form-error{/if}" id="dii_geetest_register_lib">
				<label for="dii_geetest_register">验证码：</label>
				<div id="dii_geetest_register" class="dii_geetest_embed"></div>
				{if $result['captcha']}<div class="am-alert am-alert-danger">{$result['captcha']}</div>{/if}
			</div>
			<div class="am-form-group {if $result['agreebbrule']}am-form-error{/if}">
				<label class="dii-cursor-pointer"><input type="checkbox" value="1" name="agreebbrule" minchecked="1" maxchecked="1" required="" class="am-active am-field-valid" data-validation-message="您必须同意服务条款后才能注册"> 同意《<a href="#" target="_blank">服务条款</a>》</label>
				{if $result['agreebbrule']}<div class="am-alert am-alert-danger">您必须同意服务条款后才能注册</div>{/if}
			</div>
			<div class="am-cf">
				<input type="submit" name="{$submit}" value="注 册" class="am-btn am-btn-primary am-radius am-fl dii-sm-btn {$submit} user-submit">
			</div>
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		</form>
	</div>
</div>
{eval}
$footerJs = "
<script type='text/javascript'>
var gtFailbackFrontInitial = function(result) {
    var s = document.createElement('script');
    s.id = 'gt_lib';
    s.src = 'http://static.geetest.com/static/js/geetest.0.0.0.js';
    s.charset = 'UTF-8';
    s.type = 'text/javascript';
    document.getElementsByTagName('head')[0].appendChild(s);
    var loaded = false;
    s.onload = s.onreadystatechange = function() {
        if (!loaded && (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete')) {
            loadGeetest(result);
            loaded = true;
        }
    };
}
//get  geetest server status, use the failback solution

var loadGeetest = function(config) {

    //1. use geetest capthca
    window.gt_captcha_obj = new window.Geetest({
        gt: config.gt,
        challenge: config.challenge,
        product: 'float',
        offline: !config.success
    });

    gt_captcha_obj.appendTo('#dii_geetest_register');
}

s = document.createElement('script');
s.src = 'http://api.geetest.com/get.php?callback=gtcallback';
$('#dii_geetest_register_lib').append(s);

var gtcallback = (function() {
    var status = 0,
    result, apiFail;
    return function(r) {
        status += 1;
        if (r) {
            result = r;
            setTimeout(function() {
                if (!window.Geetest) {
                    apiFail = true;
                    gtFailbackFrontInitial(result)
                }
            },
            1000)
        } else if (apiFail) {
            return
        }
        if (status == 2) {
            loadGeetest(result);
        }
    }
})()

$.ajax({
    url: '".GEETEST."/web/StartCaptchaServlet.php?rand=' + Math.round(Math.random() * 100),
    type: 'get',
    dataType: 'JSON',
    success: function(result) {
        // console.log(result);
        gtcallback(result)
    }
});

$(function() {
  $('#doc-vld-msg').validator({
	onValid: function(validity) {
		$(validity.field).closest('.am-form-group').find('.am-alert').hide();
	},

	onInValid: function(validity) {
	  var am_field = $(validity.field);
	  var am_group = am_field.closest('.am-form-group');
	  var am_alert = am_group.find('.am-alert');
	  // 使用自定义的提示信息 或 插件内置的提示信息
	  var msg = am_field.data('validationMessage') || this.getValidationMessage(validity);

	  if (!am_alert.length) {
		am_alert = $('<div class=\"am-alert am-alert-danger\"></div>').hide().
		  appendTo(am_group);
	  }

	  am_alert.html(msg).show();
	}
   });
});
</script>";
{/eval}