<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title">Dii - PHP 轻量级框架</h1>

      <p>
        期待你的参与，共同打造一个简单易用的PHP框架
      </p>

      <p>
        <a href="https://github.com/thinfell/dii" class="am-btn am-btn-sm get-btn" target="_blank">GitHub获取最新版本√</a>
      </p>
    </div>
  </div>
</div>

<div class="detail">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="detail-h2">One Web 、Any Device，期待和你一起去实现!</h2>

      <div class="am-g">
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">

          <h3 class="detail-h3">
            <i class="am-icon-mobile am-icon-sm"></i>
            为移动而生
          </h3>

          <p class="detail-p">
            Dii 是国内 Discuz 程序的拓展功能，继承Discuz核心的函数，去除了其他累赘的东西，适用于Disxuz二次开发者中使用。
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-cogs am-icon-sm"></i>
            组件丰富，模块化
          </h3>

          <p class="detail-p">
            Dii 结合 amazeui 含近 20 个 CSS 组件、10 个 JS 组件，更有 17 款包含近 60 个主题的 Widgets，可快速构建界面出色、体验优秀的跨屏页面，大幅度提升你的开发效率。
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-check-square-o am-icon-sm"></i>
            清晰的MVC模式
          </h3>

          <p class="detail-p">
            基于国外的Yii PHP框架，Dii 使用Yii简单的MVC模式进行二次开发，今后将继续把Yii强大的功能转移过来，实现与Discuz功能的无缝结合，可以实现Discuz插件的转移与独立目录运行支持，为您节省大量的开发时间。
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-send-o am-icon-sm"></i>
            轻量级，高性能
          </h3>

          <p class="detail-p">
            Dii 非常注重性能，基于轻量的 Discuz内核 开发，并使用 amazeui 来做动画交互，平滑、高效，更适合移动设备，让你的 Web 应用可以高速载入。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hope">
  <div class="am-g am-container">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 hope-img">
      <img src="assets/i/examples/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
      <hr class="am-article-divider am-show-sm-only hope-hr">
    </div>
    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
      <h2 class="hope-title">同我们一起打造你的PHP框架</h2>

      <p>
        在知识爆炸的年代，我们不愿成为知识的过客，拥抱开源文化，发挥社区的力量，参与到Dii开源项目能获得自我提升。
      </p>
    </div>
  </div>
</div>

<div class="about">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="about-title about-color">Dii 崇尚开放、自由，非常欢迎大家的参与</h2>

      
    </div>
  </div>
</div>