<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
    <div class="am-footer-switch">
        <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
            云适配版
        </span>
        <span class="am-footer-divider">
            |
        </span>
        <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
            电脑版
        </a>
    </div>
    <div class="am-footer-miscs ">
        <p>
            由
            <a href="http://www.yunshipei.com/" title="诺亚方舟" target="_blank" class="">
                诺亚方舟
            </a>
            提供技术支持
        </p>
        <p>
            CopyRight?2014 AllMobilize Inc.
        </p>
        <p>
            京ICP备13033158
        </p>
    </div>
</footer>
<div id="am-footer-modal" class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
    <div class="am-modal-dialog">
        <div class="am-modal-hd am-modal-footer-hd">
            <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin "
            data-am-modal-close>
                &times;
            </a>
        </div>
        <div class="am-modal-bd">
            您正在浏览的是
            <span class="am-switch-mode-owner">
                云适配
            </span>
            <span class="am-switch-mode-slogan">
                为您当前手机订制的移动网站。
            </span>
        </div>
    </div>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>