<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
    <div class="am-footer-switch">
        <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
            加入QQ群
        </span>
        <span class="am-footer-divider">
            |
        </span>
        <a href="https://github.com/thinfell/dii" target="_blank">
            源码下载
        </a>
    </div>
    <div class="am-footer-miscs ">
        <p>
            由
            <a href="http://amazeui.org/" title="amazeui.org" target="_blank" class="">
                amazeui.org
            </a>
            提供前端框架支持
        </p>
        <p>
            CopyRight&copy;2016 <a href="http://dii.thinfell.com/" title="dii.thinfell.com" target="_blank">dii.thinfell.com</a>
        </p>
        <p>
            琼ICP备11002843号-9
        </p>
    </div>
</footer>
<div id="am-footer-modal"
       class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
    <div class="am-modal-dialog">
      <div class="am-modal-hd am-modal-footer-hd">
        <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin " data-am-modal-close>&times;</a>
      </div>
      <div class="am-modal-bd">
          欢迎加入我们

        <span class="am-switch-mode-owner">
            QQ群:
        </span>

        <span class="am-switch-mode-slogan">
              532677513。
        </span>
      </div>
    </div>
  </div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>